<script>

    $(document).ready(() => {
        init();
    });

</script>

<div id="workspace">
    <section id="cutting-mat">
        <img src="" id="target">
    </section>  
    <section id='controls'> 
        <div>
            <label>Collection <input id="collectionUri" value=""/></label>
        </div>
        <div id='filmstrip'></div>
            <!-- <h1><button onclick='previous()'>&lt; Previous</button>
            <button onclick='next()'>Next &gt;</button></h1> -->
    </section>  
</div>
