
<section id="mainmenu">
    <h1>{{title}}</h1>
    <p>Super Collager is a tool for making art.<br/> We encourage you to hack, play, create, and share.</p>
    <p>Get started by opening a <a href="/collager">cutting mat</a> and an <a href="/artboard">artboard</a>.</p>
</section>